{% extends 'base.html.twig' %}

{% block title %}Creación/Edición de Libro{% endblock %}

{% block body %}
<font color="Maroon" face="Comic Sans MS,arial">
<div class="col-lg-6 align-center">
    <h2>Crear/Editar Libro</h2>

    {{form_start(form)}}

    <div class="form-group">
        <h5>Titulo</h5>
        {{form_widget(form.titulo)}}
    </div>

    <div class="form-group">
        <h5>Decripcion</h5>
        {{form_widget(form.descripcion)}}
    </div>

    <div class="form-group">
        <h5>Año de Publicación</h5>
        {{form_widget(form.anio_publicidad)}}
    </div>

    <div class="form-group">
        <h5>Autor</h5>
        {{form_widget(form.autor)}}
    </div>

    <div class="row">
        <div class="col-lg-8 align-center">
            <input type="submit" class="btn btn-primary">
            <a href="{{path('app_list')}}" class="btn btn-primary"> Regresar</a>
        </div>
    </div>
    {{form_end(form)}}
</div>

{% endblock %}

