{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .align-center{
                margin: auto auto;
        }
    </style>
{% endblock %}
{% block title %}Biblioteca - Libros{% endblock %}

{% block body %}
<div class='row'>
<div class='col-lg-10 align-center'>
<h1>Biblioteca</h1>
<table class="table table-success table-striped">
  <thead class="thead-light">
  <tr>
     <th>Titulo</th>
     <th>Descripcion </th>
     <th>Año de Publicación</th>
     <th>Autor</th
   </tr>
  </thead>
  <tbody>
   {%for libro in libros%}
      <tr>
          <td>{{libro.Titulo}}</td>
          <td>{{libro.Descripcion}}</td>
          <td>{{libro.aniopublicidad}}</td>
          <td>{{libro.autor}}</td>
          <td> 
             <a href="{{path('app_edit',{id:libro.id})}}" class="btn btn-primary">Editar</a>
             <a href="{{path('app_delete',{id:libro.id})}}" class="btn btn-danger">Eliminar</a>
          </td>
      </tr>
   {%endfor%}
  </tbody>
</table>
</div>
</div>
<div class="row">
    <div class="col-lg-8 align-center">
        <a href="{{path('app_create')}}" class="btn btn-primary">Crear</a>
    </div>
</div>
{% endblock %}
